# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Packaging directories
release-builds/
dist/
build/
*-darwin-*
*-win32-*
*-linux-*

# Executable files
*.exe
*.app
*.dmg
*.pkg

# MacOS directory attributes
.DS_Store

# Optional npm log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional Electron builder output
dist/
*.log

# System Files
Thumbs.db
